// Font Sizes

$font-sm: 1.2rem;
$font-default: 1.6rem;
$font-lg: 1.8rem;
$font-xl: 2rem;

// Colors

$color-white: #fff;
$color-offwhite: #fbf9fa;
$color-red: rgb(216, 7, 7);
$color-black: #000;
$color-green: rgb(91, 194, 54);
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-dark-1: #a7a7a7;
$color-grey-dark-2: #888888;
$color-grey-dark-3: #696969;

$color-primary: #fd0054;


$box-shadow-1: 0 2rem 4rem rgba($color-black, .15);
$box-shadow-2: 0 1rem 4rem rgba($color-black, .15);
