<div class="column-tertiary">
	<section class="row card gig__container">
		<header class="gig__header">Recent Gigs</header>
		<ul class="gig__list">
			<li class="gig__list-item">
				<div class="gig__thumb-container">
					<img
						src="images/default-img.png"
						alt="profile thumbnail"
						class="gig__thumb"
					/>
				</div>
				<div class="gig__text">
					<p class="gig__title">This is a Gig</p>
					<span class="gig__subtext">3 d</span>
				</div>
			</li>
			<li class="gig__list-item">
				<div class="gig__thumb-container">
					<img
						src="images/default-img.png"
						alt="profile thumbnail"
						class="gig__thumb"
					/>
				</div>
				<div class="gig__text">
					<p class="gig__title">This is a Gig</p>
					<span class="gig__subtext">5 d</span>
				</div>
			</li>
			<li class="gig__list-item">
				<div class="gig__thumb-container">
					<img
						src="images/default-img.png"
						alt="profile thumbnail"
						class="gig__thumb"
					/>
				</div>
				<div class="gig__text">
					<p class="gig__title">This is a Gig</p>
					<span class="gig__subtext">7 min</span>
				</div>
			</li>
			<li class="gig__list-item">
				<div class="gig__thumb-container">
					<img
						src="images/default-img.png"
						alt="profile thumbnail"
						class="gig__thumb"
					/>
				</div>
				<div class="gig__text">
					<p class="gig__title">This is a Gig</p>
					<span class="gig__subtext">4 min</span>
				</div>
			</li>
			<li class="gig__list-item">
				<div class="gig__thumb-container">
					<img
						src="images/default-img.png"
						alt="profile thumbnail"
						class="gig__thumb"
					/>
				</div>
				<div class="gig__text">
					<p class="gig__title">This is a Gig</p>
					<span class="gig__subtext">2 h</span>
				</div>
			</li>
		</ul>
		<footer class="gig__footer">
			<a class="gig__link-all" href="#"> See More </a>
		</footer>
	</section>
</div>
