<section class="row card create__post">
	<img
		src="/images/<%= profile.profileImage.filename%>"
		alt="profile thumbnail"
		class="create__post__thumb"
	/>
	<a
		href="#"
		data-toggle="modal"
		data-target="#addPostModal"
		class="create__post__caption anchor"
		>Say Something!</a
	>
</section>
