<nav class="navbar fixed-top navbar-expand-lg">
    <a class="navbar-brand" href="/">Rednose</a>
    <button class="navbar-toggler toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
                <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
        </li>
        <% if (currentUser) {%>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" href="#">Profile</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/profile/<%= currentUser._id %>"> View Profile</a>
              <a class="dropdown-item" href='#' data-toggle="modal" data-target="#deleteProfileModal">Delete Profile</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/browse-profiles">Browse Profiles</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link" data-toggle="modal" data-target="#logoutModal">Log Out</a>
          </li>
        <% } else { %>
          <li class="nav-item">
              <a class="nav-link" href='#' data-toggle="modal" data-target="#loginModal">Login</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href='#' data-toggle="modal" data-target="#registerModal">Sign Up</a>
          </li>
        <% } %>
      </ul>
    </div>
  </nav>

 <!--  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown link
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
      </ul>
    </div>
  </nav> -->

  <!-- Login Modal -->
  <div class="modal fade" id="loginModal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Login</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form action='/login' method='POST'>
              <div class="form-group">
                <input type="text" name='username' placeholder='Username'>
              </div>
              <div class="form-group">
                <input type="password" name='password' placeholder='Password'>
              </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Log In</button>
                </div>
            </form>
        </div>
      </div>
    </div>
  </div>
  <!-- End Login Modal -->

  <!-- Logout Modal -->
  <div class="modal fade" id="logoutModal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="logoutModalLabel">Login</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <!-- Log out form -->
            <form action="/logout?_method=DELETE" method='POST'>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Log Out</button>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- End Logout Modal -->


  <!--  Register Modal -->
  <div class="modal fade" id="registerModal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Sign Up</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form action="/register" method='POST'>
              <div class="form-group">
                <input type="text" placeholder='First Name' name='firstName' required />
              </div>
              <div class="form-group">
                <input type="text" placeholder='Last Name' name='lastName' required />
              </div>
              <div class="form-group">
                <input type="text" placeholder='Username' name="username" required />
              </div>
              <div class="form-group">
                <input type="email" placeholder='Email' name="email" required />
              </div>
              <div class="form-group">
                <input type="password" placeholder='Password' name="password" required /></div>
                <div class="modal-footer">
                  <button type="submit" class="btn btn-primary">Register</button>
                </div>
            </form>
        </div>
      </div>
    </div>
  </div>
  <!--  End Register Modal -->

  <% if(currentUser) { %>
  <!-- Delete Profile Modal -->
  <div class="modal fade" id="deleteProfileModal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteProfileModalLabel">Login</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <!-- Delete Profile Form -->
            <form action="/profile/delete/<%= currentUser._id %>?_method=DELETE" method='POST'>
              <h5>Are you sure you want to delete your profile?</h5>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Delete</button>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <% } %>