.gig__thumb, .create__post__thumb, .image__thumb {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    object-fit:cover;
}

.edit__gig__container {
    display: block;
}

.card.gig__container {
    /* background: 
        linear-gradient(to top, rgba(236, 16, 16, 0.4), 10%, rgba(236, 16, 16, 0.0)); */
    background-color: rgba(43, 32, 36, .2);
    width: 300px;
    padding: 10px 15px;
    margin: 0 auto 15px;
    border: none;
    border-radius: 10px;
}


.gig__description {
    padding: 5px;
}

.gig__name {
    margin: auto 10px;
}
