
.edit__gig__container {
    display: block;
}





.gig__name {
    margin: auto 10px;
}

.gig {

    &__text {
        display: inline-block;
    }

    &__title, &__subtext {
        width: 11rem;
        margin-left: 1rem;
        margin-bottom: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__thumb {
        width: 3rem;
        height: 3rem;
        border-radius: 100%;
        object-fit:cover;
        position: relative;
        bottom: .7rem;

        &-container {
            display: inline-block;
            height: 100%;
        }
    }

    &__container {
        border-radius: 5px;
        width: 22rem;
        position: relative;
        padding: 0 1rem;


        &-right {
            float: left;
        }

        &-left {
            float: right;
            margin-right: 1rem;

            @include respond(tab-port-sm) {

            }

        }
       
    }

    &__anchor,
    &__anchor:link, 
    &__anchor:visited {
        text-decoration: none;
        color: $color-black;
    }

    &__list {
        padding: 0;
        width: 100%;
        margin-bottom: 0;
        list-style: none;


    &-item {
        margin: 0 auto;
        padding: 1rem .5rem .5rem .5rem;
        width: 100%;
        display: inline-block;
        flex-wrap: nowrap;

        &::before {
            content: '\2022';
            color: $color-red;
            display: inline-block;
            width: 1em;
            font-size: large;
            font-weight: 600;
            position: relative;
            bottom: .5rem;
            padding-left: .5rem;
        }

        
        &:after {
            content: '';
            height: 1px;
            display: block;
            margin: 0 auto;
            position: relative;
            width: 0;
            border-bottom: 1px solid red;
            transition: all .3s;
        }

        &:hover {

            &:after {
                width: 100%;
                display: block;

                }
        }

    }

       
    }

   

    &__header {
        width: 90%;
        margin: 0 auto;
        font-size: $font-lg;
        text-align: center;
        border-bottom: 1px solid $color-red;
        padding: .25rem .5rem;
    }

    &__footer {
        position: relative;
        top: calc(-.5rem + 1px);
        width: 100%;
        text-align: center;
        border-top: 1px solid transparent;
        transition: .4s;

        &:hover {
            border-top: 1px solid rgba($color-red, .5);
        }
    }

    &__description {
        padding: 5px;
    }

    &__link-all {
        font-size: $font-default;
        display: block;
        width: 100%;
        color: rgba($color-red, .5);
        transition: .4s;

        &:hover {
            text-decoration: none;
            color: $color-red;
        }
    }

}

section.card.gig__container-left {
    margin-right: 1rem;
    display: none;

    @include respond(gfold-land) {
        display: initial;
    }
}

.card.gig-card {
    padding: 0;
    position: relative;
    height: 10rem;
}

.gig-card {
    &__thumb {
        height: 8rem;
        width: 7rem;
        object-fit:cover;
        margin: auto 1rem;
        border-radius: .6rem;
        border: 1px solid $color-black;
        
        &-container {
            display: inline;
            width: 25%;
            height: 100%;
            margin
        }

        @include respond(phone) {
        }
    }

    &__info {
        position: absolute;
        right: 0;
    }
}