.post-options {
    position: absolute;
    right: 5rem;

    &__checkbox {
        position: absolute;
        right: 0;
        top: 0;
    }

    &__nav {
        border-radius: 5px;
        width: 12rem;
    }

    &__list {
        list-style: none;
        padding: .25rem 0;
        margin: .5rem auto;
        background-color: $color-grey-light-2;
    }

    &__item {
        text-align: center;
        padding: .5rem 0;
        transition: .1s;

        &:hover {
            background-color: $color-grey-dark-3;
        }
    }

    &_link {
        width: 100%;
        
        &:hover {

        }
    }

    & .options {
        position: absolute;
        right: 0;
        top: 0;
    }

    & span {
        margin-left: .5rem;
    }

}

a.post-options__link {
    width: 100%;
    color: $color-grey-dark-3;
    transition: .2s;

    &:hover {
        color: $color-grey-light-2;
        text-decoration: none;
    }
}