.card.post__container {
    padding: 1.5rem 3rem;
    box-shadow: $box-shadow-1;
}


.post__content {
    margin-top: 15px;
}

.poster__name {
    margin: auto 0;
}



.poster {

    &__thumb {
        margin-right: 1rem;
    }
    
}

.post__header {
    & .poster__name {
        font-size: 1.2rem;
    }
}

.post-error {
    text-align: center;
    margin-top: 2rem;
}