.card.post__container {
    padding: 1.5rem 3rem;
}


.post__content {
    margin-top: 15px;
}

.poster__name {
    margin: auto 0;
}



.poster {

    &__thumb {
        margin-right: 1rem;
    }
    
}