.card.profile-card {
   height: 25rem;
   width: 20rem;
   margin: 3rem auto;
   display: flex;
    align-items: start;

    @include respond(phone) {
        height: 22rem;
        width: 19rem;
    }

}


.profile-card {
    &__container {
        border-radius: 15px;
    }
    &__image {
        height: 15rem;
        width: 13rem;
        object-fit:cover;
        border-radius: 100%;
        margin: 1rem auto 0 auto;
        border: 1px solid $color-black;

        @include respond(phone) {
            height: 13rem;
            width: 11rem;
        }
    }
}

.row.profile-card__container {

    margin: 0 auto;
    @include respond(phone) {
        margin-top: 16rem; }
}


.profile-card {
    position: relative;
    margin: 1.5rem auto;
    padding: 0px 2.5rem;
    border: none;
    border-radius: 10px;
    box-shadow: $box-shadow-1;

    &__info {
        position: relative;
        bottom: 0;
        margin: auto;

    }

    &__anchor {
        margin: 0 auto;
        transition: all .2s;
        &:hover {
            transform: scale(1.03);
            text-decoration: none;
        }
    }


    
}

.profile-card__text {
    margin: 0 auto;
    text-align: center;
}

.profile__image {
    margin-bottom: 10px;
}

.occupation {
}