/* Current Users profile card */

.card.user-card {

    display: flex;
    justify-content: center;
    position: relative;
    right: 0;
    margin-right: 3rem;
}


.user-card {
    height: 275px;
    width: 225px;
    margin-right: 3rem;
    float: right;

    &__image {
        height: 175px;
        width: 150px;
        object-fit:cover;
        border-radius: 100%;
        margin-top: 10px;
    }
}
