*,
*::after,
*::before {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;

}

body {
    box-sizing: border-box;

    &::-webkit-scrollbar {
        display: none;
    }
}

.row.profile__header {
    width: 100%;
}

.row.comment__text {
    width: 100%;

}

.options__footer {
    text-align: end;
}

/* All pages except the landing page are contained within this container */
.row.main__container {
    width: 100vw;
    height: 90vh;
    justify-content: space-between;
    margin: 0 auto;
    background-color: $color-grey-light-2;
    // background-color: #fbf9fa;
    position: absolute;
    top: 5vh;

    &.landing {
        width: 100vw;
        height: 90vh;
        padding: 0 auto;
        overflow: scroll;
        background-color:  #fbf9fa;

        &::-webkit-scrollbar {
            display: none;
        }
    }
}



/* For Browse Profiles */

div.profile-card__container {
    padding: 0px 25px;
    margin: 3rem 5rem;
    background-color: rgba(43, 32, 36, .1);
    border-radius: 15px;
}



.profile-card {

    margin: 15px auto;
    padding: 0px 25px;
    border: none;
    border-radius: 10px;
    height: 250px;
    width: 200px;
    /* background: 
        linear-gradient(to top, rgba(236, 16, 16, 0.4), 10%, rgba(236, 16, 16, 0.0)); */
    background-color: rgba(43, 32, 36, .2);

    &__container {
        margin-top: 3rem;
    }
}

.profile__card__text {
    text-align: center;
}

.profile__image {
    margin-bottom: 10px;
}

.occupation {
    font-size: $font-default;
}


.create__gig__anchor {
    font-size: $font-default;
    position: relative;
    left: 270px;
    color: rgb(216, 7, 7);
}


.options {
    color: #2b2024;
    margin: 0;
    text-decoration: none;

    &:hover {
        color: #a80038;
    }
}

.edit__profile__container {
    width: 300px;
}