* {
    font-family: 'Montserrat', sans-serif;
}

html body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.7rem;
    color: $color-grey-dark-3;
    margin: 0 auto;
}

i.fas.fa-user-edit {
    height: 5px;
    width: 5px;
    margin-right: .6rem;
}