*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }
  body::-webkit-scrollbar {
    display: none; }

.options__footer {
  text-align: end; }

/* All pages except the landing page are contained within this container */
.row.main__container {
  width: 100vw;
  height: 90vh;
  justify-content: space-between;
  margin-left: 0;
  margin-right: 0;
  background-color: #fbf9fa;
  position: fixed;
  top: 5vh; }

/* For Browse Profiles */
div.profile__card__container {
  max-width: 800px;
  display: flex;
  flex-wrap: wrap;
  padding: 0px 25px;
  margin: 15px 50px 30px 20px;
  background-color: rgba(43, 32, 36, 0.1);
  border-radius: 15px; }

.profile__card {
  margin: 15px auto;
  padding: 0px 25px;
  border: none;
  border-radius: 10px;
  height: 250px;
  width: 200px;
  /* background: 
        linear-gradient(to top, rgba(236, 16, 16, 0.4), 10%, rgba(236, 16, 16, 0.0)); */
  background-color: rgba(43, 32, 36, 0.2); }

.profile__card__text {
  text-align: center; }

.profile__image {
  margin-bottom: 10px; }

.occupation {
  font-size: 1.6rem; }

/* Image Thumbs */
/* Post Column and Children */
/* Gig Column and Children */
.create__gig__anchor {
  font-size: 1.6rem;
  position: relative;
  left: 270px;
  color: #d80707; }

.options {
  color: #2b2024;
  margin: 0;
  text-decoration: none; }

.options:hover {
  color: #a80038; }

/* Landing Page Elements */
.carousel__content {
  height: 500px; }

.carousel__image {
  object-fit: cover;
  height: 500px; }

.landing__container {
  width: 100vw;
  height: 90vh;
  padding: 0 auto;
  overflow: scroll;
  background-color: #fbf9fa; }

.landing__container::-webkit-scrollbar {
  display: none; }

.edit__profile__container {
  width: 300px; }

* {
  font-family: 'Montserrat', sans-serif; }

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777; }

i.fas.fa-user-edit {
  height: 5px;
  width: 5px; }

.nav {
  height: 5vh; }
  .nav__list {
    display: flex;
    justify-content: end; }

/* Nav */
.navbar-brand, .nav-link {
  color: #fbf9fa;
  text-decoration: rgba(216, 7, 7, 0.7); }

.navbar {
  background-color: #fd0054;
  width: 100vw;
  height: 5vh;
  position: fixed;
  top: 0px; }

.navbar-collapse {
  display: flex;
  justify-content: flex-end; }

section.card {
  border: none;
  border-radius: 10px;
  background-color: rgba(43, 32, 36, 0.2);
  color: #2b2024;
  margin: 34px auto;
  padding: auto;
  display: flex;
  justify-content: center;
  align-items: center; }

.column-primary {
  margin-top: 0px;
  overflow: scroll;
  height: 90vh; }
  .column-primary::-webkit-scrollbar {
    display: none; }

.column-tertiary {
  margin: 0px 0px -15px 0px;
  height: 90vh;
  overflow: scroll; }
  .column-tertiary::-webkit-scrollbar {
    display: none; }

footer.page__footer, footer.footer {
  background-color: #fd0054;
  color: #fbf9fa;
  margin: 0px;
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100vw;
  padding: 15px;
  text-align: end;
  height: 5vh; }

div.modal-footer {
  margin: 15px; }

div.modal-header {
  margin: 15px; }

div.modal-body {
  display: flex;
  justify-content: center;
  padding: 10px 30px; }

/* Current Users profile card */
.user-card {
  height: 275px;
  width: 225px; }
  .user-card__image {
    height: 175px;
    width: 150px;
    object-fit: cover;
    border-radius: 100%;
    margin-top: 10px; }

.card.create__post {
  display: flex;
  flex-direction: row;
  margin-bottom: 0px;
  border: none;
  border-radius: 10px; }

.create__post__caption {
  color: black;
  padding: 3px 15px;
  margin: auto;
  margin-left: 10px;
  width: 350px;
  height: 30px;
  background-color: rgba(43, 32, 36, 0.1);
  border-radius: 15px; }

.create__post {
  padding: 1.5rem 3rem; }

.gig__thumb, .create__post__thumb, .image__thumb {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  object-fit: cover; }

.card.post__container {
  padding: 1.5rem 3rem; }

.post__row {
  overflow: scroll;
  max-height: 720px; }

.post__content {
  margin-top: 15px; }

.poster__name {
  margin: auto -5px;
  color: #d80707; }

.gig__thumb, .create__post__thumb, .image__thumb {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  object-fit: cover; }

.comment__thumb {
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  object-fit: cover; }

.gig__thumb, .create__post__thumb, .image__thumb {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  object-fit: cover; }

.edit__gig__container {
  display: block; }

.card.gig__container {
  /* background: 
        linear-gradient(to top, rgba(236, 16, 16, 0.4), 10%, rgba(236, 16, 16, 0.0)); */
  background-color: rgba(43, 32, 36, 0.2);
  width: 300px;
  padding: 10px 15px;
  margin: 0 auto 15px;
  border: none;
  border-radius: 10px; }

.gig__description {
  padding: 5px; }

.gig__name {
  margin: auto 10px; }

.carousel__content {
  height: 50rem; }

.carousel__image {
  object-fit: cover;
  height: 50rem;
  width: 100%; }

.row.about__title__header {
  background-color: #fd0054;
  color: #fbf9fa;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
  height: 60px;
  width: 100%;
  padding: 15px;
  margin-right: 0px;
  margin-left: 0px; }

.about__container {
  margin: 0px;
  width: 100%; }

.about__main {
  padding: 25px 50px; }
