section.card {

    border: none;
    border-radius: 5px;
    border: .5px solid rgba($color-black, .3);
    background-color: $color-offwhite;
    color: #2b2024;
    margin: 34px auto;
    padding: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}