

.column {

    &-profile, &-primary, &-tertiary, &-secondary {
        position: fixed;
        overflow: scroll;
        height: 90vh;
        top: 5vh;


        &::-webkit-scrollbar {
            display: none;
        }
    }

    &-profile {
        position: fixed;
        right: 0;
        width: 75vw;
    }

    &-primary {
        overflow: scroll;
        width: 50vw;
        left: 25vw;

    }

    &-secondary {
        width: 25vw;
        left: 0;
    }

    &-tertiary {
        right: 0;
        height: 90vh;
        overflow: scroll;
        width: 25vw;

        &::-webkit-scrollbar {
            display: none;
        }
    }
}

