

.column {

    &-profile, &-primary, &-tertiary, &-secondary {
        overflow: scroll;
        height: 90vh;
        


        &::-webkit-scrollbar {
            display: none;
        }
    }

    &-profile {
        width: 75vw;
        height: 90vh;
    }

    &-primary {
        padding: 0 3rem;
        overflow: scroll;
        width: 50vw;
        
        @include respond(gfold-land) {
            width: 70vw;
        }
        @include respond(phone) {
            width: 100vw;
        }

    }

    &-secondary {
        width: 25vw;

        @include respond(gfold-land) {
            width: 30vw;
        }

        @include respond(phone) {
            display: none;
        }

    }

    &-tertiary {
        height: 90vh;
        overflow: scroll;
        width: 25vw;
        margin: 0;

        @include respond(gfold-land) {
            display: none;
        }

        &::-webkit-scrollbar {
            display: none;
        }
    }
}

