.nav {
    height: 5vh;

    &__list {
        display: flex;
        justify-content: end;
    }
}

   /* Nav */

   .navbar-brand, .nav-link {
    color:  #fbf9fa;
    text-decoration: rgba(216, 7, 7, 0.7);
}

.navbar {
    background-color: #fd0054;
    width: 100vw;
    height: 5vh;
    position: fixed;
    top: 0px;
}
.navbar-collapse {
    display: flex;
    justify-content: flex-end;
}